ВАЖНО: Если вы хотите установить "Альфу" на свой компьютер, лучше дождитесь готового установщика (Модель Vosk устанавливать будет не нужно, От вас лишь потребуеться установить Python 3.11.4, всё остальное установиться автоматически.)
Необходимо для запуска исходного кода:
Windows:
Windows 10 и выше
Модель Vosk:
vosk-model-small-ru-0.4
Язык программирования Python:
3.11.4 и выше
ВАЖНО: Библиотеки загружаються автоматически при первом запуске.
